/* Import required fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Oswald, sans-serif;
    font-size:120%;
    font-weight: 300;
    background-color: antiquewhite;
    margin-left: 3px;
    margin-right: 3px;
}

/* headings and navigation menu */

h1 {
    font-family: 'Ubuntu Mono', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #2b2727;
    }
h2 {
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: center;
    text-align: justify;
}

div {
    vertical-align: top;
    margin-top: 15px;
    display: inline-block;
    height: 200px;
    width: 30%;    
    padding-right: 10px;
    border: 2px #2b2727 solid;
    border-radius: 10px;
}

#club-logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #club-logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: blue;
    
}

/* Picture on main page */

#main-picture {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url('../images/logo1.jpg') center center/cover no-repeat;
}

.display-center {
    text-align: center;
    margin-top: 20px;
}

.display-center p {
    text-align: center;
}

#about-us {
    margin-top: 20px;
}

#images {
    height: 600px;
    width: 100%;
}
